a { 
    text-decoration: none; 
}

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
  }
h2 {
   color: coral;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 80px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color:  #7D7987;
  }

/* Классы */
/* a. color: cornflowerblue; b. font-size: 16px; c. line-height: 20px; */
.sandardLink {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    list-style-type:  "✅";
}